.socialmedia-block a, .currentProject-block a , .emailverifier-block a{
  color: brown;
  text-decoration: underline;
}
.version {
  font-size: smaller;
  color: indianred;
}
.addition{
  color: dimgray;
}
#button-proj, #button-soc, #button-email{
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  width: 80px;
}
.tech-social, .tech-curProject , .tech-email{
  list-style-type: circle;
}
.git{
  font-size: small;
}
